#overlay {
  display: none;
  position: relative;
  margin: 30% 10%;
  width: 80%;
  max-height: 50%;
  z-index: 1;
  box-shadow: rgba(44, 48, 59, 0.1) 0px 2px 3px 0px;
}

#overlay a {
    padding: 6px ;
    right: 0;
    color: var(--darkgrey);
    display: block;
    text-align: right;
    transition: 0.3s;
  }
  
#overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }

.headerSidebar {
  position: absolute;
  width: 100%;
  height: 4em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--magenta);
}

/* only for function */
#overlayText {
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(255, 255, 255, 1); /*dim the background*/
}

#overlayText p {
    display: inline;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 50%;
    max-width: 90%;
    font-size: 1em !important;
    color: var(--blue);
    text-align: center;
    font-weight: 500;
    display: inline-bock;
}

.headerSidebar h1 {
  top: 4%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 1em;
}

.headerSidebar p {
    height: 50%;
    width: 50%;
    color: #000;
  }

a#closebtn {
  display: inline-block;
  z-index: 1;
  padding: 0.3em 0.5em;
  float: right;
  color: white;
}
a#closebtn:hover {
  color: var(--lightmag);
}

.show {
  display: block;
}
